{% extends 'layout.html' %}

{% block body %}
<script type="text/javascript">
  $(function() { "use strict";
    $(".js-new-input").on('click', function() {
      const el = $($(this).data('target'));
      const $el = $(el).last();
      if ($el.val() !== '') {
        $el.clone().insertAfter($el).val('').addClass('mrg10T').attr('id', el.length+1 ).end();
      }
    });
  });
</script>
<div id="page-content-wrapper">
  <div id="page-content">
    <div class="container">
      <div id="page-title">
        <h2>{% if eventId%}Edit{% else %}New{% endif %} Event {% if eventId%}<small>id: {{ eventId }}</small>{% endif %}</h2>
      </div>
      <div class="row">
        <div class="panel">
          <div class="panel-body">
            <div class="example-box-wrapper">
              <form class="form-horizontal bordered-row" id="{{ eventId }}">
                <div class="form-group">
                  <label class="col-sm-3 control-label">Event name</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="" placeholder="Name your event..." value="{{ eventName }}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Descrive your event</label>
                  <div class="col-sm-6">
                    <textarea name="" placeholder="The Coolest event ever!" rows="3" class="form-control textarea-md">{{ eventDescription }}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Exhibitor(s)</label>
                  {% for exhibitor in eventExhibitors %}
                    {% if loop.first %}
                      <div class="col-sm-6">
                    {% endif %}
                      <input type="text" class="form-control js-exhibitor {% if loop.index != 1 %}mrg10T{% endif %}" id="1" placeholder="Exhibitor's name" value="{{ exhibitor.name }}">
                    {% if loop.last %}
                      </div>
                      <div class="col-sm-2">
                        <a href="#" class="glyph-icon icon-plus boxed-icon-form btn bg-green js-new-input" data-target=".js-exhibitor"></a>
                      </div>
                    {% endif %}
                  {% else %}
                    <div class="col-sm-6">
                      <input type="text" class="form-control js-exhibitor" id="1" placeholder="Exhibitor's name" value="{{ exhibitor.name }}">
                    </div>
                    <div class="col-sm-2">
                      <a href="#" class="glyph-icon icon-plus boxed-icon-form btn bg-green js-new-input" data-target=".js-exhibitor"></a>
                    </div>
                  {% endfor %}
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Date & Hour</label>
                  <div class="col-sm-6">
                    <div class="input-prepend input-group">
                      <span class="add-on input-group-addon">
                        <i class="glyph-icon icon-calendar"></i>
                      </span>
                      <input type="text" name="daterangepicker-time" id="daterangepicker-time" class="form-control" value="{{ eventDate }}">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Event Type</label>
                  <div class="col-sm-6">
                    <select name="" class="chosen-select" value="{{ eventType }}">
                      {% for type in eventsType %}
                        <option value="{{ type.value }}" {% if type.value == eventType %}selected{% endif %}>{{ type.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Categories</label>
                  <div class="o-h">
                  <div class="col-sm-1">
                    <label for="">Punctuality</label>
                    <input type="checkbox" class="input-switch-alt" style="display: none;">
                  </div>
                  <div class="col-sm-1">
                    <label for="">Content</label>
                    <input type="checkbox" class="input-switch-alt" style="display: none;">
                  </div>
                  <div class="col-sm-1">
                    <label for="">Food</label>
                    <input type="checkbox" class="input-switch-alt" style="display: none;">
                  </div>
                  <div class="col-sm-1">
                    <label for="">Drink</label>
                    <input type="checkbox" class="input-switch-alt" style="display: none;">
                  </div>
                  <div class="col-sm-1">
                    <label for="">Duration</label>
                    <input type="checkbox" class="input-switch-alt" style="display: none;">
                  </div>
                  <div class="col-sm-1">
                    <label for="" title="Air Conditioning">A.C</label>
                    <input type="checkbox" class="input-switch-alt" style="display: none;">
                  </div>
                  <div class="col-sm-2">
                    <label for="">PDR Support</label>
                    <input type="checkbox" class="input-switch-alt" style="display: none;">
                  </div>
                </div>
                  <br>
                  <label class="col-sm-3 control-label">&nbsp;</label>
                  <div class="o-h">
                  <div class="col-sm-1">
                    <label for="">Transport</label>
                    <input type="checkbox" class="input-switch-alt" style="display: none;">
                  </div>
                  <div class="col-sm-1">
                    <label for="">Music</label>
                    <input type="checkbox" class="input-switch-alt" style="display: none;">
                  </div>
                  <div class="col-sm-1">
                    <label for="">Parking</label>
                    <input type="checkbox" class="input-switch-alt" style="display: none;">
                  </div>
                </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Main Photo & Cover</label>
                  <div class="col-sm-12 col-md-2">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                      <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px; background-size: cover; {% if eventImages.eventMain %}background-image: url({{ eventImages.eventMain }});{% endif %}"></div>
                      <div>
                        <span class="btn btn-default btn-file">
                          <span class="fileinput-new">Select Main Photo</span>
                          <input type="file" class="js-input-photo" name="...">
                        </span>
                        <a href="#" class="btn btn-default fileinput-exists js-remove-preview" data-dismiss="fileinput">Remove</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-3">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                      <div class="fileinput-preview thumbnail"  data-trigger="fileinput" style="width: 350px; height: 150px; background-size: cover; {% if eventImages.eventCover %}background-image: url({{ eventImages.eventCover }});{% endif %}"></div>
                      <div>
                        <span class="btn btn-default btn-file">
                          <span class="fileinput-new">Select Cover</span>
                          <input type="file" class="js-input-photo" name="...">
                        </span>
                        <a href="#" class="btn btn-default fileinput-exists js-remove-preview" data-dismiss="fileinput">Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12 center-div">
                    <button class="btn btn-alt btn-lg btn-hover btn-info">
                      <span>Save</span>
                      <i class="glyph-icon icon-save"></i>
                    </button>
                    <button class="btn btn-alt btn-lg btn-hover btn-primary">
                      <span>Submit</span>
                      <i class="glyph-icon icon-send"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() { "use strict";
    function resetPreview(el) {
      const $parent = $(el).parents('.fileinput');
      $parent.find('.thumbnail').css('background-image', 'none');
      $(el).css('display', 'none');
    }

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          const $parent = $(input).parents('.fileinput');
          $parent.find('.thumbnail').css('background-image', 'url(' + e.target.result + ')');
          $parent.find($('.fileinput-exists')).css('display', 'inline-block');
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
    $(".js-input-photo").on('change', function(){
      readURL(this);
    });

    $(".js-remove-preview").on('click', function(){
      resetPreview(this);
    });
  });
</script>
{% endblock %}
