{% extends 'layout.html' %}

{% block body %}
<div id="page-content-wrapper" class="page-profile">
  <div id="page-content" style="min-height: 1128px;">
    <div class="container">
      <div class="row mailbox-wrapper">
        <div class="col-md-12">
          <div class="panel-layout">
            <div class="panel-box">
              <div class="panel-content image-box" style="background{% if eventImages.eventCover %}-image: url({{ eventImages.eventCover }}){% else %}: red {% endif %}">
                <img src="{{ eventImages.eventMain }}" alt="" class="meta-image img-bordered img-circle">
              </div>
              <div class="panel-content pad15A bg-white radius-bottom-all-4">
                <div class="image-content">
                  <div class="meta-box meta-box-bottom">
                    <h3 class="meta-heading">{{ eventName }}</h3>
                    <h4 class="meta-subheading">{{ eventDescription }}</h4>
                  </div>
                </div>
                <div class="clear profile-box">
                </div>
                <div class="mrg15T mrg15B"></div>
              </div>
            </div>
          </div>
          <div class="col-md-1 col-xl-2"></div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="panel">
                  <div class="panel-body">
                    <h3 class="title-hero">
                      Donut
                    </h3>
                    <div class="example-box-wrapper">
                      <div id="donutr"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="panel">
                  <div class="panel-body">
                    <h3 class="title-hero">
                      Color bars
                    </h3>
                    <div class="example-box-wrapper">
                      <div id="color-bar2"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="panel">
                  <div class="panel-body">
                    <h3 class="title-hero">
                      Color bars
                    </h3>
                    <div class="example-box-wrapper">
                      <div id="color-bar"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="panel">
                  <div class="panel-body">
                    <h3 class="title-hero">
                      Color bars
                    </h3>
                    <div class="example-box-wrapper">
                      <div id="color-bar3"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="panel">
                  <div class="panel-body">
                    <h3 class="title-hero">
                      Left timeline
                    </h3>
                    <div class="example-box-wrapper">
                      <div class="timeline-box timeline-box-left">
                        <div class="tl-row">
                          <div class="tl-item float-right">
                            <div class="tl-icon bg-red">
                              <i class="glyph-icon icon-toggle-on"></i>
                            </div>
                            <div class="popover right">
                              <div class="arrow"></div>
                              <div class="popover-content">
                                <!-- <div class="tl-label bs-label label-info">Appointment</div> -->
                                <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. </p>
                                <div class="tl-time">
                                  <i class="glyph-icon icon-clock-o"></i>
                                  a few seconds ago
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="tl-row">
                            <div class="tl-item float-right">
                                <div class="tl-icon bg-primary">
                                    <i class="glyph-icon icon-wifi"></i>
                                </div>
                                <div class="popover right">
                                    <div class="arrow"></div>
                                    <div class="popover-content">
                                        <!-- <div class="tl-label bs-label bg-yellow">Teleconference</div> -->
                                        <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. </p>
                                        <div class="tl-time">
                                            <i class="glyph-icon icon-clock-o"></i>
                                            a few seconds ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tl-row">
                                <div class="tl-item float-right">
                                    <div class="tl-icon bg-black">
                                        <i class="glyph-icon icon-headphones"></i>
                                    </div>
                                    <div class="popover right">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <!-- <div class="tl-label bs-label label-danger">Meeting</div> -->
                                            <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. </p>
                                            <div class="tl-time">
                                                <i class="glyph-icon icon-clock-o"></i>
                                                a few seconds ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-danger"><i class="glyph-icon icon-send"></i> Send Feedback</a>
              </div>
            </div>
          </div>
          <div class="col-md-1 col-xl-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Send Feedback</h4>
      </div>
      <div class="modal-body center-div">
        <form class="form-horizontal bordered-row">
          <div class="form-group">
            <label class="col-sm-2 control-label">Exibitors</label>
            <div class="col-sm-9">
              <select name="" multiple data-placeholder="Click to see available options..." class="chosen-select">
                <option>Jhon Doe</option>
                <option>Lorem Ipsun</option>
                <option>Boris Jazz</option>
                <option>Marthin Rock</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Message</label>
            <div class="col-sm-9">
              <textarea name="" placeholder="Your message here" rows="2" class="form-control textarea-md"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-border btn-alt border-black btn-link font-black" style="float: left;"><i class="glyph-icon icon-paperclip"></i> Attachments</a>
        <button class="btn btn-alt btn-hover btn-default">
          <span>Send</span>
          <i class="glyph-icon icon-arrow-right"></i>
        </button>
        <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
