{% extends 'layout.html' %}

{% block body %}
  <div id="page-content-wrapper">
    <div id="page-content">
      <div class="container">
        <div id="page-title">
          <h2>Dashboard</h2>
        </div>
        <div class="row">
          <div class="col-md-12 mrg20B">
            <a href="/new" class="btn bg-green float-left mrg5A"><i class="glyph-icon icon-plus"></i> New Event</a>
          </div>
          <div class="col-md-12">
            <div class="accordion">
              <h3>In Progress Events</h3>
              <div>
                <div class="col-md-12 mrg20B">
                  <div class="tile-box bg-red">
                    <div class="tile-header">
                      Kickoff
                      <div class="float-right">
                        Created: 3 days Ago
                      </div>
                    </div>
                    <div class="tile-content-wrapper">
                      <i class="glyph-icon icon-rocket"></i>
                      <div class="tile-content">
                        <a href="/event/123"><i class="glyph-icon icon-eye icon-box"></i></a>
                        <a href="#" data-toggle="modal" data-target="#myModal"><i class="glyph-icon icon-qrcode icon-box"></i></a>
                        <a href="/edit/123"><i class="glyph-icon icon-pencil icon-box"></i></a>
                        <a href="/archive/123"><i class="glyph-icon icon-trash-o icon-box"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h3>Next Events</h3>
              <div>
                <div class="col-md-12 mrg20B">
                  <div class="tile-box bg-primary">
                    <div class="tile-header">
                      Connect IT
                      <div class="float-right">
                        Created: 1 days Ago
                      </div>
                    </div>
                    <div class="tile-content-wrapper">
                      <i class="glyph-icon icon-rocket"></i>
                      <div class="tile-content">
                        <a href="/event/123"><i class="glyph-icon icon-eye icon-box"></i></a>
                        <a href="#" data-toggle="modal" data-target="#myModal"><i class="glyph-icon icon-qrcode icon-box"></i></a>
                        <a href="/edit/123"><i class="glyph-icon icon-pencil icon-box"></i></a>
                        <a href="/archive/123"><i class="glyph-icon icon-trash-o icon-box"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mrg20B">
                  <div class="tile-box bg-black">
                    <div class="tile-header">
                      Pass It On
                      <div class="float-right">
                        Created: 2 days Ago
                      </div>
                    </div>
                    <div class="tile-content-wrapper">
                      <i class="glyph-icon icon-rocket"></i>
                      <div class="tile-content">
                        <a href="/event/123"><i class="glyph-icon icon-eye icon-box"></i></a>
                        <a href="#" data-toggle="modal" data-target="#myModal"><i class="glyph-icon icon-qrcode icon-box"></i></a>
                        <a href="/edit/123"><i class="glyph-icon icon-pencil icon-box"></i></a>
                        <a href="/archive/123"><i class="glyph-icon icon-trash-o icon-box"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h3>Finished Events</h3>
              <div>
                <div class="col-md-12 mrg20B">
                  <div class="tile-box bg-blue">
                    <div class="tile-header">
                      Games Night
                      <div class="float-right">
                        Created: 7 days Ago <small>(Over)</small>
                      </div>
                    </div>
                    <div class="tile-content-wrapper">
                      <i class="glyph-icon icon-rocket"></i>
                      <div class="tile-content">
                        <a href="/event/123"><i class="glyph-icon icon-eye icon-box"></i></a>
                        <a href="/archive/123"><i class="glyph-icon icon-trash-o icon-box"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Kickoff</h4>
        </div>
        <div class="modal-body center-div">
          <div class="">
            <img src="/static/qr.png" class="js-qr-preview qr-preview" alt="">
          </div>
          <h3><a href="#" class="js-qr-print">Print this QR Code</a></h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function() { "use strict";
      function getDataUri(url, callback) {
        var image = new Image();
        image.onload = function () {
          var canvas = document.createElement('canvas');
          canvas.width = this.naturalWidth;
          canvas.height = this.naturalHeight;
          canvas.getContext('2d').drawImage(this, 0, 0);
          // callback(canvas.toDataURL('image/png').replace(/^data:image\/(png|jpg);base64,/, ''));
          callback(canvas.toDataURL('image/png'));
        };
        image.src = url;
      }

      $('.js-qr-print').on('click', function() {
        var qrUrl = $(this).parents('.modal-body').find('.js-qr-preview').attr('src');
        getDataUri(qrUrl, function(dataUri) {
          var doc = new jsPDF()
          doc.setFontSize(40)
          doc.text(35, 40, '4th Edition - Connect.IT')
          doc.setFontSize(25)
          doc.text(35, 75, 'Scan this QR for rating the event.')
          doc.addImage(dataUri, 'JPEG', 15, 90, 180, 160)
          doc.save('letter.pdf')
        });
      })
    });
  </script>
{% endblock %}
