.icon-box {
  color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 2px;
  padding: 0px 6px;
}

.icon-box:hover {
  color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
}

.boxed-icon-form {
  border-radius: 0 3px 3px 0;
  margin-left: -55px;
}

.qr-preview {
  width: 85%;
  height: auto;
}

.page-profile .image-box{
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.page-profile .meta-image {
  position: absolute;
  left: 10px;
  max-width: 170px;
  bottom: 10px;
}

.page-profile .image-content {
  padding: 30px;
  max-width: 960px;
  margin: 0 auto;
}

.page-profile .meta-box.meta-box-bottom {
  position: static;
}

.page-profile .popover {
  z-index: 983 !important;
}

.page-profile .popover.right .arrow {
  left: -11px;
}

.page-profile .popover {
  max-width: 100%;
}

.o-h {
  overflow: hidden;
}
